# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/**
.gradle-user/

# IntelliJ / IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Coverage / reports
**/reports/
**/jacoco*

# Generated
bin/
